@tailwind base;
@tailwind components;
@tailwind utilities;

a {
  @apply text-blue-700;
}

a:hover {
  @apply border-b-2 border-blue-700;
}

@tailwind components;

@tailwind utilities;

.content p {
  @apply my-6;
}

.content ul {
  @apply my-6;
}

body {
  position: relative;
}

.modal {
  align-items: center;
  bottom: 10px;
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
}

.cookiesContent {
  align-items: center;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  padding: 20px 20px 30px;
  text-align: center;
}

button.close {
  align-self: flex-end;
  background-color: transparent;
  border: none;
  color: #c0c5cb;
  font-size: 20px;
  margin-bottom: 10px;
  width: 30px;
}

button.accept {
  background-color: #f26722;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 6px 18px -5px rgba(237, 103, 85, 1);
  color: white;
  font-size: 16px;
  padding: 14px;
  width: 200px;
}
